@import url('reset.css');

a:visited
{
	color: blue;
}

body
{
	background: #f0f0f0;
	margin:0;
	padding:0;
}

.wrapper
{
	font-size: 14pt;
	font-family: verdana, sans-serif;
	line-height: initial;
}

.header
{
	background-color: #68758F;
	padding: 1em;
}

.header a
{
	float: left;
	color: white;
	font-size: 1.5em;
	margin-right: 1em;
}

.header h1
{
	color: white;
	font-size: 1.5em;
}

.content
{
	padding: 0 1em;
}

.content>a, li
{
	background: #fff;
	display: block;
	border-radius: 0.25em;
	padding: 1.5em;
	width: 80%;
	margin: 1em auto;
	border: 1px solid #a0a0a0;
	box-shadow: 2px 2px 4px 1px Gray;
}

.url
{
	display: block;
	width: 100%;
	text-align: center;
	margin: 0 auto;
}